body{
	padding-top: 70px;
}
.jumbotron{
	color: #2c3e50;
	background: #ecf0f1;

}
.navbar-inverse{
	background: #2c3e50;

}

.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}
.image1 {
  background-image: url(img_src/img3.jpg);
  }

  .image2 {
  background-image: url(img_src/img2.jpg);
}
.image3 {
  background-image: url(img_src/img14.jpg);
}

.image {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
}

